<div class="Admin" id="divMessageAdmin" style="background-color:red;">
    <div class="welcome"></div><br />
    <div id="divWaitingUser"></div><br />
    <input id="txtMessage" type="text" />
    <input id="btnSendMessage" type="button" value="Send" />
    <div id="divAdminMessage"></div>
</div>

        @*<script type="text/javascript">
            $(document).ready(function () {
               var objHub = $.connection.chatHub;
               loadClientMethods(objHub);
               $.connection.hub.start().done(function () {
                   loadEvents(objHub);
               });
           });

           function loadEvents(objHub) {
               var name = '@HttpContext.Current.User.Identity.Name';
               objHub.server.connect(name);
               alert(name);

               $('#btnSendMessage').click(function () {
                   var msg = $("#txtMessage").val();
                   if (msg.length > 0) {
                       var username = $('#hUserName').val();
                       document.getElementById('txtMessage').value = "";
                       // <<<<<-- ***** Return to Server [  SendMessageToGroup  ] *****
                       objHub.server.sendMessageToGroup(username, msg);
                   }
               });

               $("#txtMessage").keypress(function (e) {
                   if (e.which == 13) {
                       $('#btnSendMessage').click();
                   }
               });
           }

           function loadClientMethods(objHub) {

               objHub.client.getMessagesAdmin = function (userName, message) {
                       $(".txtMessage").val('');
                       $('#divAdminMessage').append('<div><p>' + userName + ': ' + message + '</p></div>');
                       var height = $('#divAdminMessage')[0].scrollHeight;
                       $('#divAdminMessage').scrollTop(height);
               }

               //objHub.client.getMessages = function (userName) {
               //    $('#divWaitingUser').append('<div><p>' + userName + '</p></div>');
               //}

               objHub.client.onConnected = function (id, userName, UserID, userGroup, flag) {
                  //var lag = flag;
                   //alert(flag);
                   var strWelcome = 'Welcome' + +userName;
                   $('.welcome').append('<div><p>Welcome:' + userName + '</p></div>');
                   $('#hId').val(id);
                   $('#hUserId').val(UserID);
                   $('#hUserName').val(userName);
                   $('#hGroup').val(userGroup);
               }
           }
        </script>*@
    
