<div id="divLogin" class="mylogin"  style="background-color:green;">
    Provide a Username:<input id="txtUserName" type="text" /><br />
    <input id="unAuthConnect" type="button" value="Connect to chat" />
    <div id="divalarm"></div>
</div>
