<div class="User" id="divMessageUser" style="background-color:blue;">
    <div class="welcome"></div><br />
    <input id="txtUserMessage" type="text" />
    <input id="btnSendUserMessage" type="button" value="Send" />
    <div id="divUserMessage"></div>
</div>

    @*<script type="text/javascript">
        $(function () {
           var objHub = $.connection.chatHub;
           loadClientMethods(objHub);
           $.connection.hub.start().done(function () {
               loadEvents(objHub);
           });
       });

       function loadEvents(objHub) {
           var name = '@HttpContext.Current.User.Identity.Name';
           objHub.server.connect(name);
           alert(name);
           $('#btnSendUserMessage').click(function () {
              // alert("wrks");
               var msg = $("#txtUserMessage").val();
               if (msg.length > 0) {
                   var username = $('#hUserName').val();
                   document.getElementById('txtUserMessage').value = "";
                   // <<<<<-- ***** Return to Server [  SendMessageToGroup  ] *****
                   objHub.server.sendMessageToGroup(username, msg);
               }
           });

           $("#txtMessage").keypress(function (e) {
               if (e.which == 13) {
                   $('#btnSendMessage').click();
               }
           });

       }

       function loadClientMethods(objHub) {
           objHub.client.NoExistAdmin = function (userName) {
               //alert(userName);
               //var divNoExist = $('<div><p>' + userName + 'There is no Admin to response you try again later</p></div>');
               var divNoExist = $('<div><p>There is no Admin to response you try again later</p></div>');
               //$("#divChat").hide();
               $('#divalarm').prepend(divNoExist);
               $(divNoExist).fadeIn(900).delay(9000).fadeOut(900);
           }

           objHub.client.getMessagesUser = function (userName, message) {
               $("#txtMessage").val('');
               $('#divUserMessage').append('<div><p>' + userName + ': ' + message + '</p></div>');
               var height = $('#divUserMessage')[0].scrollHeight;
               $('#divUserMessage').scrollTop(height);
           }

           objHub.client.onConnected = function (id, userName, UserID, userGroup, flag) {
              //var lag = flag;
               //alert(flag);
               var strWelcome = 'Welcome' + +userName;
               $('.welcome').append('<div><p>Welcome:' + userName + '</p></div>');
               $('#hId').val(id);
               $('#hUserId').val(UserID);
               $('#hUserName').val(userName);
               $('#hGroup').val(userGroup);
           }
       }
    </script>*@

